name: CI Testing
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    name: "as-lunatic (Linux, node latest)"
    runs-on: ubuntu-latest
    steps:
      - name: "Check out repository"
        uses: actions/checkout@v1
      - name: "Setup node"
        uses: actions/setup-node@v2
        with:
          node-version: 15
      - name: "Install lunatic"
        run: |
          wget https://github.com/lunatic-solutions/lunatic/releases/download/v0.3.1/lunatic-linux-amd64.tar.gz
          tar -xf archive.tar.gz
          echo $PWD >> $GITHUB_PATH
      - name: "Install Assemblyscript and Test"
        run: |
          npm install
          npm test
